$title-color: #212121;
$main-color: #757575;
$accent-color: #2196f3;
$footer-color: rgba(255, 255, 255, 0.6);
$white-text-color: #ffffff;
$background-dark-color: #2f303a;
$background-primary-color: #ffffff;
$background-second-color: #f5f4fa;
$btn-hover: #188ce8;
$fill-icon-color: #afb1b8;
$border-btn-color: rgba(0, 0, 0, 0.1);
$cubic-beizer-hover: cubic-bezier(0.4, 0, 0.2, 1);
